html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  height: 100vh;
  position: relative;
  font-family: "cantarell", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  background-color: #000;
  padding: 20px;
  position: fixed;
 width: 100%;
     z-index: 1;
}

h1 {
  font-size: 48px;
  text-align: center;
  padding-bottom: 20px;
  color: #fff;
}


.hidden {
  display: none;
}

.fade-down {
  animation: slide-down .8s ease-in-out forwards;
}

.fade-up {
  animation: slide-up .8s ease-in-out forwards;
}

.btn {
  display: block;
  margin: auto;
}

.menu {
  background: transparent;
  border: none;
  margin: 0 50px 0 auto;
  display: block;
}

.fa-bars {
  color: #fff;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

.new-color-div {
  position: relative;
  width: 200px;
  height: 200px;
  display: grid;
  place-content: center;
  flex: 1 0 auto;
}
.new-color-span, .hex-color-span {
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  
}
.new-color-span {margin-bottom: 10px;}
.new-color-div:hover .new-color-span, .new-color-div:hover .hex-color-span, .new-color-div:hover .fa-circle-info {
  display: block;
}


.container {
  display: flex; 
 flex-direction: column-reverse;
 width: 100%;

}

.fa-circle-info {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
}


.color-grid {
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100%;
  gap: 0;
  height: 100vh; */
  display: flex;
  width: 100%; 
  flex: 1 1 auto;
  height: 80vh;
  gap: 5px;
  flex-wrap: wrap;

}
.aside {
  width: 100%;
  background-color: #333;
  margin-top: 125px;
}

#dialog {
  max-width: 1200px;
  width: 100%;
  height: 800px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

@keyframes slide-down {
  from {
    height: 0;
  }

  to {
    height: 100px;

  }
}

@keyframes slide-up {
  from {
    height: 100px;
  }

  to {
    height: 0;
  }
}

